core/src/main/xsd/invoice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.nav.gov.hu/2013/szamla"
           targetNamespace="http://schemas.nav.gov.hu/2013/szamla" elementFormDefault="qualified"
           attributeFormDefault="unqualified">
    <xs:annotation>
        <xs:documentation>Elektronikus számlák adatai - Utolsó módosítás: 2014.01.29-.</xs:documentation>
    </xs:annotation>
    <xs:complexType name="szamlak_tipus">
        <xs:sequence>
            <xs:element name="export_datuma" type="xs:date">
                <xs:annotation>
                    <xs:documentation>Az exportálás dátuma.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="export_szla_db" type="decimal_egesz_tipus">
                <xs:annotation>
                    <xs:documentation>Az exportált számlák darabszáma.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="kezdo_ido" type="xs:date">
                <xs:annotation>
                    <xs:documentation>Az exportálással érintett időszak kezdő dátuma.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="zaro_ido" type="xs:date">
                <xs:annotation>
                    <xs:documentation>Az exportálással érintett időszak záró dátuma.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="kezdo_szla_szam" type="string_tipus">
                <xs:annotation>
                    <xs:documentation>Az exportált számlák kezdő sorszáma.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="zaro_szla_szam" type="string_tipus">
                <xs:annotation>
                    <xs:documentation>Az exportált számlák záró sorszáma.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="szamla" type="szamla_tipus" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Az egyes számlák adatait tartalmazza.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="szamla_tipus">
        <xs:sequence>
            <xs:element name="fejlec" type="fejlec_tipus"/>
            <xs:element name="szamlakibocsato" type="szamlakibocsato_tipus"/>
            <xs:element name="vevo" type="vevo_tipus"/>
            <xs:element name="kepviselo" type="kepviselo_tipus" minOccurs="0"/>
            <xs:element name="termek_szolgaltatas_tetelek" type="termek_szolgaltatas_tetelek_tipus"
                        maxOccurs="unbounded"/>
            <xs:element name="modosito_szla" type="modosito_szla_tipus" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="gyujto_szla" type="gyujto_szla_tipus" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="zaradekok" type="zaradekok_tipus" minOccurs="0"/>
            <xs:element name="nem_kotelezo" type="nem_kotelezo_tipus" minOccurs="0"/>
            <xs:element name="osszesites" type="osszesites_tipus"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="fejlec_tipus">
        <xs:sequence>
            <xs:element name="szlasorszam" type="string_tipus">
                <xs:annotation>
                    <xs:documentation>A számla sorszáma, amely a számlát kétséget kizáróan azonosítja.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="szlatipus" type="szlatipus_tipus">
                <xs:annotation>
                    <xs:documentation>A számla típusa: 1-számla/2-egyszerűsített adattartalmú számla/3-módosító
                        számla/4-érvénytelenítő számla/5-gyűjtőszámla/6-számlával egy tekintet alá eső okirat
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="szladatum" type="xs:date">
                <xs:annotation>
                    <xs:documentation>A számla kibocsátásának kelte.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="teljdatum" type="xs:date">
                <xs:annotation>
                    <xs:documentation>A teljesítés, vagy előleg fizetése esetében a fizetendő adó megállapítás
                        időpontja, ha az eltér a számla kibocsátásának keltétől.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="szlatipus_tipus">
        <xs:annotation>
            <xs:documentation>A számla típusát meghatározó kódszótár.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer">
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>1 - Számla</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
                <xs:annotation>
                    <xs:documentation>2 - Egyszerűsített adattartalmú számla</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
                <xs:annotation>
                    <xs:documentation>3 - Módosító számla</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4">
                <xs:annotation>
                    <xs:documentation>4 - Érvénytelenítő számla</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="5">
                <xs:annotation>
                    <xs:documentation>5 - Gyűjtő számla</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="6">
                <xs:annotation>
                    <xs:documentation>6 - Számlával egy tekintet alá eső okirat</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="szamlakibocsato_tipus">
        <xs:sequence>
            <xs:element name="adoszam" type="adoszam_tipus">
                <xs:annotation>
                    <xs:documentation>A termék értékesítőjének, szolgáltatás nyújtójának adószáma, amely alatt a termék
                        értékesítését, szolgáltatás nyújtását teljesítette.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="kozadoszam" type="adoszam_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Közösségi adószám.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="kisadozo" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>True, ha kisadózó.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="nev" type="string_tipus">
                <xs:annotation>
                    <xs:documentation>Számlakibocsátó neve.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="cim" type="cim_tipus">
                <xs:annotation>
                    <xs:documentation>Számlakibocsátó címe.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="egyeni_vallalkozo" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>True, ha egyéni vállakozó.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ev_nyilv_tart_szam" type="string_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Egyéni vállalkozó számlakibocsátó nyilvántartási száma.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ev_neve" type="string_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Egyéni vállalkozó neve.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="adoszam_tipus">
        <xs:annotation>
            <xs:documentation>Adószám típus meghatározása.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
            <xs:minLength value="8"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string_tipus">
        <xs:annotation>
            <xs:documentation>String típus meghatározása.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="100"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="decimal_tipus">
        <xs:annotation>
            <xs:documentation>Decimal típus meghatározása. 10 egész számjegy és 2 tizedes számjegy adható meg.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="12"/>
            <xs:fractionDigits value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="decimal_egesz_tipus">
        <xs:annotation>
            <xs:documentation>Decimal típus meghatározása. 10 egész számjegy és 0 tizedes számjegy adható meg.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="10"/>
            <xs:fractionDigits value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="cim_tipus">
        <xs:sequence>
            <xs:element name="iranyitoszam" minOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10"/>
                        <xs:minLength value="4"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="telepules" type="string_tipus" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>Település megnevezése</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="kerulet" type="string_tipus" minOccurs="0"/>
            <xs:element name="kozterulet_neve" type="string_tipus" minOccurs="1"/>
            <xs:element name="kozterulet_jellege" type="string_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>A közterület jellege (utca, körút …)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="hazszam" type="string_tipus" minOccurs="0"/>
            <xs:element name="epulet" type="string_tipus" minOccurs="0"/>
            <xs:element name="lepcsohaz" type="string_tipus" minOccurs="0"/>
            <xs:element name="szint" type="string_tipus" minOccurs="0"/>
            <xs:element name="ajto" type="string_tipus" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="vevo_tipus">
        <xs:sequence>
            <xs:element name="adoszam" type="adoszam_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Vevő adószáma.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="kozadoszam" type="adoszam_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Közösségi adószám.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="nev" type="string_tipus">
                <xs:annotation>
                    <xs:documentation>Vevő neve.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="cim" type="cim_tipus">
                <xs:annotation>
                    <xs:documentation>Vevő címe.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="kepviselo_tipus">
        <xs:sequence>
            <xs:element name="adoszam" type="adoszam_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Képviselő adószáma.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="nev" type="string_tipus">
                <xs:annotation>
                    <xs:documentation>Képviselő neve.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="cim" type="cim_tipus">
                <xs:annotation>
                    <xs:documentation>Képviselő címe.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="termek_szolgaltatas_tetelek_tipus">
        <xs:sequence>
            <xs:element name="termeknev" type="string_tipus">
                <xs:annotation>
                    <xs:documentation>Az értékesített termék, nyújtott szolgáltatás megnevezése.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="gyujto_szla_csoport" type="string_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Gyűjtő számla csoport.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="eloleg" type="eloleg_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Előleg számla vagy végszámla esetében feltüntetendő.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="besorszam" type="string_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>A termék/szolgáltatás jelölésére alkalmazott vámtarifaszám/SZJ szám.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="menny" type="decimal_tipus">
                <xs:annotation>
                    <xs:documentation>Az értékesített termék mennyisége.
                        A nyújtott szolgáltatás mennyisége, feltéve, hogy az természetes mértékegységben kifejezhető.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="mertekegys" type="string_tipus">
                <xs:annotation>
                    <xs:documentation>A termék vagy szolgáltatás, feltéve, hogy az természetes mértékegységben
                        kifejezhető, mennyiségi mértékegysége.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="kozv_szolgaltatas" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>True, ha közvetített a szolgáltatás.
                        Közvetített szolgáltatás esetén a számlából a közvetítés tényének ki kell derülnie.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="nettoar" type="decimal_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Az adó alapja.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="nettoegysar" type="decimal_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Értékesített termék adó nélküli egységára, a nyújtott szolgáltatás adó nélküli
                        egységára, ha az természetes mértékegységben kifejezhető.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dohany_ar" type="decimal_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Dohánygyártmány adójegyén szereplő kiskereskedelmi eladási ára.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="adokulcs" type="decimal_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Az alkalmazott adó mértéke.
                        Egyszerűsített adattartalmú számla esetén nem kell kitölteni.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="adoertek" type="decimal_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Az áthárított adó, kivéve, ha annak feltüntetését a törvény kizárja.
                        Forintban kifejezve abban az esetben is fel kell tüntetni, ha az egyéb adatok külföldi
                        pénznemben kifejezettek.
                        Egyszerűsített adattartalmú számla esetén nem kell kitölteni.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="szazalekertek" type="szazalekertek_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Egyszerűsített adattartalmú számla esetén kötelező kitölteni.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="bruttoar" type="decimal_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Bruttó ár. Egyszerűsített adattartalmú számla esetén kötelező, más számlák esetén
                        csak akkor, ha van ilyen adat.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="arengedm" type="decimal_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Alkalmazott árengedmény, feltéve, hogy azt az egységár nem tartalmazza.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="vellenertek" type="decimal_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Csak nyilvános árverés szervezője által kibocsátott számla esetén kell kitölteni.
                        Az ÁFA törvény 231.§ (2) szerint a 169.§ i. pontja helyetti számla tétel elemek.
                        Az árverési vételárul szolgáló ellenérték.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="vkozteher" type="decimal_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Csak nyilvános árverés szervezője által kibocsátott számla esetén kell kitölteni.
                        Az ÁFA törvény 231.§ (2) szerint a 169.§ i. pontja helyetti számla tétel elemek.
                        Az adók, vámok, illetékek, járulékok, hozzájárulások és más kötelező jellegű befizetések.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="vktg" type="decimal_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Csak nyilvános árverés szervezője által kibocsátott számla esetén kell kitölteni.
                        Az ÁFA törvény 231.§ (2) szerint a 169.§ i. pontja helyetti számla tétel elemek.
                        A felmerült járulékos költségek, amit az árverés szervezője hárít át az árverési vevőnek
                        együttes összege.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="vkistag" type="decimal_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Csak nyilvános árverés szervezője által kibocsátott számla esetén kell kitölteni.
                        Az ÁFA törvény 231.§ (2) szerint a 169.§ i. pontja helyetti számla tétel elemek.
                        A fenti három tétel összege.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="kozl_eszk_inf" type="kozl_eszk_inf_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Közlekedési eszköz információk.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="asvanyolaj" type="asvanyolaj_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Az ásványolaj adóraktárból történő kitárolása esetén meghatározott esetben fel
                        kell tüntetni a számlán
                        8/2004. (III. 10.) PM rendelet 80. § (1) bekezdés b)-g) pontjaiban felsorolt adatokat.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="eloleg_tipus">
        <xs:annotation>
            <xs:documentation>Előleg számla vagy végszámla esetében feltüntetendő.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer">
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>1 - Előleg számla</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
                <xs:annotation>
                    <xs:documentation>2 - Végszámla</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="szazalekertek_tipus">
        <xs:annotation>
            <xs:documentation>Az egyszerűsített adattartalmú számla esetén választható százalék értékek.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:enumeration value="21.26"/>
            <xs:enumeration value="4.76"/>
            <xs:enumeration value="15.25"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="kozl_eszk_inf_tipus">
        <xs:sequence>
            <xs:element name="foldikozl" type="foldikozl_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Szárazföldi közlekedési eszköz: hengerűrtartalma vagy teljesítmény és az első
                        forgalomba helyezés időpontja vagy a megtett távolság.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="legikozl" type="legikozl_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Légiközlekedési eszköz: teljes felszállási tömege és légi kereskedelem és az első
                        forgalomba helyezés időpontja vagy a repült órák.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="vizikozl" type="vizikozl_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Vízi közlekedési eszköz: hosszúság és tevékenység és első forgalomba helyezés,
                        vagy hajózott óra
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="foldikozl_tipus">
        <xs:sequence>
            <xs:element name="hengerur" type="decimal_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Hengerűrtartalom ccm-ben.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="teljesitmeny" type="decimal_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Teljesítmény kW-ban.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="forgba_datum" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Első forgalomba helyezés dátuma.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="futottkm" type="decimal_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Megtett távolság km-ben.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="legikozl_tipus">
        <xs:sequence>
            <xs:element name="felsztomeg" type="decimal_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Teljes felszállási tömege.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="legiker" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>True, ha a jármű légi kereskedelmi eszköz.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="forgba_datum" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Első forgalomba helyezés dátuma.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="repultora" type="decimal_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Repült órák száma.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="vizikozl_tipus">
        <xs:sequence>
            <xs:element name="hajo_hossz" type="decimal_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Hajó hossza.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="vizitev" type="string_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Vizi tevékenység megnevezése.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="forgba_datum" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Első forgalomba helyezés dátuma.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="hajozott_ora" type="decimal_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Hajózott órák száma.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="asvanyolaj_tipus">
        <xs:sequence>
            <xs:element name="homerseklet" type="decimal_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>A termék tényleges hőmérséklete Celsius fokban.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="tomeg" type="decimal_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Kitárolt mennyisége környezeti hőmérsékleten mért tényleges térfogatban,
                        illetve vasúti, közúti és uszályszállítás esetén mért vagy számított tömege.
                        Ha megad tömeget, akkor a mértékegységet is meg kell adni.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="tomeg_mert" type="string_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Tömeg mértékegysége.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="suruseg" type="decimal_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>15 Celsius-fok hőmérséklethez tartozó sűrűsége.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="suruseg_mert" type="string_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Sűrűség mértékegysége.
                        Ha megad sűrűséget, akkor a mértékegységet is meg kell adni.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="terfogat" type="decimal_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>15 Celsius-fok hőmérséklethez tartozó térfogata.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="terfogat_mert" type="string_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Térfogat mértékegysége.
                        Ha megad térfogatot, akkor a mértékegységet is meg kell adni.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="minoseg" type="string_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>A termék minősége, az érvényes MSZ-re, műszaki leírásra vagy
                        szerződésben rögzített specifikációra való hivatkozással.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="tanusitas" type="string_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Az üzemanyag és a tüzelőolaj külön jogszabályban előírt minőségi követelménynek
                        való megfelelésének tanúsítása.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="modosito_szla_tipus">
        <xs:sequence>
            <xs:element name="eredeti_sorszam" type="string_tipus">
                <xs:annotation>
                    <xs:documentation>Eredeti számla sorszáma.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="gyujto_szla_tipus">
        <xs:sequence>
            <xs:element name="gyujtocsopo_ossz" type="string_tipus">
                <xs:annotation>
                    <xs:documentation>Adóalapok alkalmazott adó mértéke és adómentességi hivatkozás szerinti
                        csoportosításban összesítve.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="gyujtocsopo_nossz" type="decimal_tipus">
                <xs:annotation>
                    <xs:documentation>Nettó összeg összesítve.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="gyujtocsopo_bossz" type="decimal_tipus">
                <xs:annotation>
                    <xs:documentation>Bruttó összeg összesítve.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="zaradekok_tipus">
        <xs:sequence>
            <xs:element name="penzforgelsz" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>True, ha pénzforgalmi elszámolás.
                        Különös szabályok szerinti (ÁFA tv. XIII/A. fejezete) adózás alkalmazása esetében.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="onszamla" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>True, ha önszámlázás.
                        Ha a számlát a terméket beszerző vagy a szolgáltatást igénybevevő állítja ki.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ford_ado" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>True, ha fordított adózás.
                        Ha adófizetésre a termék beszerzője, szolgáltatás igénybevevője kötelezett.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="adoment_hiv" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>True, ha a termék értékesítése, szolgáltatás nyújtása mentes az adó alól.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="kulonb_szer_szab" type="kulonb_szer_szab_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Különbözet szerinti szabályozás - utazási irodák, használt cikkek, műalkotások,
                        gyűjteménydarabok és régiségek közül a megfelelő kifejezés feltüntetése.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="termekdij_szlas_atvallalas" type="decimal_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>"az egyéb kőolajtermék vevője nem termékdíj-kötelezett, a bruttó árból ……Ft
                        termékdíj átvállalásra került".
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="termekdij_szerzes_atvallalas" type="termekdij_szerzes_atvallalas_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>"a termékdíj kötelezettség a Ktdt. 14.§ (5) bekezdés …..) pontja…..)alpontja
                        alapján a vevőt terheli".
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="vissz_igeny" type="vissz_igeny_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Feltüntetendő adatok köre:termékdíjköteles termék CsK, KT kódja, termékdíj
                        mértéke, összege,
                        termékdíj megfizetését (bevallását) igazoló dokumentumok adataiból legalább a következő
                        adatokat:
                        kötelezett által kiállított számla számla
                        számla kelte
                        kötelezett neve
                        kötelezett címe
                        kötelezett adószáma.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="csomszer_forg_hoz" type="csomszer_forg_hoz_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Amennyiben a csomagolószer termékdíj-köt. az eladót terheli, akkor feltüntetendő:
                        "a csomagolószer termékdíj összege bruttó árból…..Ft"
                        Amennyiben a csomagolás részeként forgalomba hozott csomszer.termékdíj. Köt. Az eladót terheli,
                        akkor: "a csomagolás termékdíj-kötelezettség az eladót terheli"
                        Amennyiben az eladót a vevő nyilatkozata alapján termékdíj megfizetése nem terheli, akkor: "a
                        csomagolószer termékdíja a veveő eseti nyilatkozata alapján nem kerül megfizetésre" vagy
                        "a csomagolószer termékdíja a vevő...számon iktatott időszakra vonatkozó nyilatkozata alapján
                        nem kerül megfizetésre".
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="reklam_papir" type="decimal_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>"a reklámhordozó papír termékdíj összege a bruttó árból …..Ft".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="energia_ado" type="decimal_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Energia adó összege elkülönítetten.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="neta" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>True, ha a Neta tv-ben meghatározott adókötelezettség az adó alanyát terheli.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ahk" type="string_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>AHK-szám.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="csomagk_jovedeki_ado" type="decimal_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>A jövedéki terméket belföldön terhelő adót fel kell tüntetni (összes adó).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="jovedeki_vamtarifa" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>True, ha jövedéki vámtarifa fizetésére kötelezett.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="eng_import_ado" type="decimal_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Adóraktár engedélyese/importáló/bejegyzett kereskedő/jöv. engedélyes kereskedő az
                        általa megfizetett, vételárban felszámított adót elkülönítve kell, hogy feltüntesse a vevő
                        kérésére.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="gazolaj_beszerz" type="gazolaj_beszerz_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Gázolaj beszerzéséről szóló számlán a kereskedelmi jármű forgalmi rendszámát és a
                        kilóméteróra állását is fel kell tüntetni.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="jov_eng_ker" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Ha true, akkor meg kell adni a jövedéki termék vámtarifaszámát, a jövedéki
                        engedélye számát,
                        a vevő adóigazgatási azonosító számát, és adott esetben a vevő őstermelői igazolvány számát.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="jov_eng_keresk_jov_ert" type="jov_eng_keresk_jov_ert_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>A jövedéki engedélyes kereskedő jövedéki termék értékesítésekor a számlán fel kell
                        tüntetnie
                        a jövedéki engedélye számát, a vevő adóigazgatási azonosító számát, és adott esetben a vevő
                        őstermelői igazolvány számát.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="jov_eng_keresk_szla" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>"True, ha továbbértékesítés esetén a jövedéki termék származásának igazolására nem
                        alkalmas".
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="nem_jov_eng_keresk_szla" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>"True, ha továbbértékesítés esetén a jövedéki termék származásának igazolására nem
                        alkalmas".
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="import_vamtarifa" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>True, ha importáló a számlán köteles feltüntetni a jövedéki termék
                        vámtarifaszámát.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="betet_dij" type="decimal_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Betétdíj összege elkülönítve.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="rezsicsokkentes" type="decimal_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>A rezsicsökkentés eredményeként jelentkező megtakarítás összegét fel kell tűntetni
                        jól láthatóan, színes mezőben.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="beszallokartya" type="beszallokartya_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>A beszállókártya számát a tranzitadóraktár-engedélyes az értékesítésről kiállított
                        számlán köteles feltüntetni. Beszállókártyának minősül minden olyan okmány, amely tartalmazza a
                        járatszámot,
                        a kedvezményre jogosult nevét és a beszállókártyán szereplő úti célt.
                        Beszállókártya szám alatt ezen adatok együttes adatát kell érteni.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="kulonb_szer_szab_tipus">
        <xs:annotation>
            <xs:documentation>A különbözet szerinti szabályozást meghatározó kódszótár.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer">
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>1 - Utazási irodák</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
                <xs:annotation>
                    <xs:documentation>2 - Használt cikkek</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
                <xs:annotation>
                    <xs:documentation>3 - Műalkotások</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4">
                <xs:annotation>
                    <xs:documentation>4 - Gyűjteménydarabok és régiségek</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="termekdij_szerzes_atvallalas_tipus">
        <xs:sequence>
            <xs:element name="bekezdes_pontja" type="string_tipus">
                <xs:annotation>
                    <xs:documentation>A bekezdés pontja.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="bekezdes_alpontja" type="string_tipus">
                <xs:annotation>
                    <xs:documentation>A bekezdés alpontja.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="vissz_igeny_tipus">
        <xs:sequence>
            <xs:element name="vissz_igenytetel" type="vissz_igenytetel_tipus" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Visszaigénylés alapjául megnevezett számla tételei.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="szla" type="string_tipus">
                <xs:annotation>
                    <xs:documentation>Kötelezett által kiállított számla számla.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="szla_kelte" type="xs:date">
                <xs:annotation>
                    <xs:documentation>Számla kelte.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="kotelezett_neve" type="string_tipus">
                <xs:annotation>
                    <xs:documentation>Kötelezett neve.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="kotelezett_cime" type="cim_tipus">
                <xs:annotation>
                    <xs:documentation>Kötelezett címe.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="kotelezett_adoszama" type="adoszam_tipus">
                <xs:annotation>
                    <xs:documentation>Kötelezett adószáma.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="vissz_igenytetel_tipus">
        <xs:sequence>
            <xs:element name="csk" type="string_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>CSK kód.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="kt" type="string_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>KT kód.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="termdij_osszeg" type="decimal_tipus">
                <xs:annotation>
                    <xs:documentation>Termékdíj mértéke, összege.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="csomszer_forg_hoz_tipus">
        <xs:sequence>
            <xs:element name="termek_dij" type="decimal_tipus">
                <xs:annotation>
                    <xs:documentation>Amennyiben a csomagolószer termékdíj-köt. az eladót terheli, akkor feltüntetendő:
                        "a csomagolószer termékdíj összege bruttó árból…..Ft".
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="reszenkent_forg_hoz" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>True, amennyiben a csomagolás részeként forgalomba hozott csomszer.termékdíj. köt.
                        az eladót terheli.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="vevo_nyilatkozat" type="vevo_nyilatkozat_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Amennyiben az eladót a vevő nyilatkozata alapján termékdíj megfizetése nem
                        terheli, akkor:
                        "a csomagolószer termékdíja a veveő eseti nyilatkozata alapján nem kerül megfizetésre" vagy
                        "a csomagolószer termékdíja a vevő...számon iktatott időszakra vonatkozó nyilatkozata alapján
                        nem kerül megfizetésre".
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="vevo_nyilatkozat_tipus">
        <xs:sequence>
            <xs:element name="vevo_nem_fizet" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>True, ha a csomagolószer termékdíja a vevő eseti nyilatkozata alapján nem kerül
                        megfizetésre.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="iktatott_idoszak" type="string_tipus">
                <xs:annotation>
                    <xs:documentation>"a csomagolószer termékdíja a vevő...számon iktatott időszakra vonatkozó
                        nyilatkozata alapján nem kerül megfizetésre".
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="gazolaj_beszerz_tipus">
        <xs:sequence>
            <xs:element name="rendszam">
                <xs:annotation>
                    <xs:documentation>Jármű forgalmi rendszáma.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20"/>
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="km_ora_allas" type="decimal_tipus">
                <xs:annotation>
                    <xs:documentation>Kilóméteróra állása.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="jov_eng_keresk_jov_ert_tipus">
        <xs:sequence>
            <xs:element name="eng_szam" type="string_tipus">
                <xs:annotation>
                    <xs:documentation>Jövedéki engedély száma.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="vevo_szam" type="string_tipus">
                <xs:annotation>
                    <xs:documentation>Vevő őstermelői igazolvány száma.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="beszallokartya_tipus">
        <xs:sequence>
            <xs:element name="jaratszam" type="string_tipus">
                <xs:annotation>
                    <xs:documentation>Járatszám.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="kedv_neve" type="string_tipus">
                <xs:annotation>
                    <xs:documentation>Kedvezményre jogosult neve.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="uticel" type="string_tipus">
                <xs:annotation>
                    <xs:documentation>Beszállókártyán szereplő uticél.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="nem_kotelezo_tipus">
        <xs:sequence>
            <xs:element name="fiz_hatarido" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>A számla teljesítésének határideje.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="fiz_mod" type="string_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>A számla fizetési teljesítésének módja.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="penznem" type="string_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>A számlán szereplő összegek pénzneme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="szla_forma" type="string_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Számla megjelenési formája: e-számla / EDI számla / papír alapon továbbított
                        számla /
                        papír alapon előállított, de elektronikus formában továbbított számla.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="kibocsato_bankszla" type="string_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>A termék értékesítőjének, szolgáltatás nyújtójának bankszámlaszáma.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="befogado_bankszla" type="string_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>A termék beszerzőjének, szolgáltatás igénybevevőjének bankszámlaszáma.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="osszesites_tipus">
        <xs:sequence>
            <xs:element name="afarovat" type="afarovat_tipus" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Csak "számla" típusú számla esetében kell kitölteni.
                        Áfarovat, adókulcsok szerinti összegzés.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="vegosszeg" type="vegosszeg_tipus">
                <xs:annotation>
                    <xs:documentation>A számlában szereplő tételek adóalapjainak összege (mindösszesen, végösszeg).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="afarovat_tipus">
        <xs:sequence>
            <xs:element name="nettoar" type="decimal_tipus">
                <xs:annotation>
                    <xs:documentation>A számlában azonos adókulcshoz tartozó számlatételek nettó árának összege.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="adokulcs" type="decimal_tipus">
                <xs:annotation>
                    <xs:documentation>Adókulcs.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="adoertek" type="decimal_tipus">
                <xs:annotation>
                    <xs:documentation>A számlában azonos adókulcshoz tartozó számlatételek adóösszege.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="bruttoar" type="decimal_tipus">
                <xs:annotation>
                    <xs:documentation>A számlában azonos adókulcshoz tartozó számlatételek bruttó árának összege.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="vegosszeg_tipus">
        <xs:sequence>
            <xs:element name="nettoarossz" type="decimal_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Csak "számla" típusú számla esetében kell kitölteni.
                        Nettó ár összesen.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="afaertekossz" type="decimal_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Csak "számla" típusú számla esetében kell kitölteni.
                        Áfa érték összesen.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="bruttoarossz" type="decimal_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Bruttó ár összesen.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="afa_tartalom" type="decimal_tipus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Csak egyszerűsített adattartalmú számla esetén kell kitölteni. Amennyiben nem
                        számlatételenként tünteti fel
                        a százalékértéket, akkor itt kell megadni (max. 2 tizedesjegy).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="szamlak" type="szamlak_tipus">
        <xs:annotation>
            <xs:documentation>A NAV elektronikus számla fogadás gyökéreleme.</xs:documentation>
        </xs:annotation>
    </xs:element>
</xs:schema>